body{
    height: 100%;
    width:100%
}
.textBox{
    display: block;
    margin-bottom: 4px;
    height: 110px;
    width: 200px;
}

.span{
    display: block;
    margin-bottom: 4px;
}

.tbDiv{
    display: inline-block;
    text-align: center;
}

.mbDiv{
    text-align: center;
    position: absolute;
    width: 300px;
    height: 175px;
    top: 50%;
    left: 50%;
    margin-top: -98px;
    z-index: 20001;
    border: 1px solid  black;
}

.btnDiv{
    position: absolute;
    bottom: 4px;
    display: block;
}

.modal{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20000;
    display: none;
}